nav {
  background-color: #596275;
  min-height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f19066;
}

.nav-name {
  color: #f5cd79;
  display: flex;
  width: 7%;
  align-items: center;
  justify-content: space-between;
}

.nav-name span {
  font-size: 2rem;
}

.btn-exit {
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.loosing {
  color: #e66767;
}
